<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<link th:href="@{styles.css}" rel="stylesheet"/>
<body >

<nav th:replace="fragments :: navigation"></nav>

<table class="center">

  <tr>
    <th>Event Name</th>
    <thead>Description</thead>
    <th>Address</th>
  </tr>
  <th:block th:each="event : ${events}">
    <tr>
      <td th:text="${event.key}"></td>
      <td th:text="${event.value}"></td>
      <th:block th:if='${event.key.equals("CES")}'>
        <td th:replace="fragments :: cesAddress"></td>
      </th:block>
      <th:block th:if='${event.key.equals("CES")}'>
        <td th:replace="fragments :: hourOFCodeAddress"></td>
      </th:block>
      <th:block th:if='${event.key.equals("CES")}'>
        <td th:replace="fragments :: strangeLoopAddress"></td>
      </th:block>
    </tr>

  </th:block>
</table>
</body>
</html>